* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #ffffff;
    background-color: black;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1f1f1f;
    font-family: "Poppins", sans-serif;
    z-index: 10000;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #292929;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: none;
}

.dimmer.show {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: fixed;
}

.container {
    margin: auto;
    padding: 20px;
}


.container h4{
    text-align: center;
}

.center-align {
    text-align: center;
    margin: auto;
    width: 50%;
    border: #ffffff;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.text-type {
    position: fixed;
    top: 50%;
    font-size: 100px;
}

.text-type h4{
    align-content: center;
}

.iconparent {
    position: relative
}

.icons {
    position: fixed;
    padding-right: 20px;
    bottom: 0;
}

.section::after {
    content: "";
    display: table;
    align-items: center;
    text-align: center;
    clear: both;
}

.section {
    padding-top: 5vh;
}

.section h5 {
    padding: 3vh;
    font-size: 25px;
}

.column {
    align-items: center;
    text-align: center;
}

.column-projects {
    align-items: center;
    text-align: center;
}

.column-projects p {
    font-size: 20px;
    padding-top: 2px;
    margin-left: 50px;
    margin-right: 50px;
}

.links {
    float: left;
    width: 50%;
}

.column p {
    font-size: 20px;
    padding-top: 2px;
    margin-left: 100px;
    margin-right: 100px;
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(83, 83, 83, 0.6);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(53, 52, 52, 0.1);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.input-fields,
.msg {
    width: 50%;
}
.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

.msg textarea {
    height: 220px;
}

.btn {
    background: gray;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 660px) {
    .contact-form {
        flex-direction: column;
    }

    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }
}

@media (min-width: 360px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size:  15px;
    }

    .container h4 {
        font-size: 25px;
        padding-top: 10vh;
    }

    .container span {
        padding-top: 10vh;
        text-align: center;
    }

    .text-type {
        text-align: center;
        font-size: 50px;
        left: 7%;
    }

    .container p {
        text-align: center;
        line-height: 1.5;
        font-size: 20px;
        padding-top: 2vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .section {
        align-items: center;
    }

    .column {
        padding-bottom: 5vh;
    }
}

@media (min-width: 990px) {
    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .container h4 {
        font-size: 40px;
        padding-top: 10vh;
    }

    .text-type {
        text-align: center;
        font-size: 80px;
    }

    .container p {
        text-align: left;
        font-size: 23px;
        padding-top: 2vh;
        padding-right: 12vh;
        padding-left: 12vh;
    }

    .column {
        float:left;
        width: 33%;
    }

    .column-projects {
        float: left;
        width: 50%;
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: 90px;
    }

    h3 {
        font-size: 60px;
    }

    .container h4 {
        font-size: 50px;
        padding-top: 10vh;
        padding-bottom: 3vh;
    }

    .text-type {
        text-align: center;
        font-size: 95px;
        left: 35%;
    }

    .container p {
        text-align: left;
        font-size: 23px;
        padding-top: 2vh;
        padding-right: 35vh;
        padding-left: 35vh;
    }

    .column {
        float:left;
        width: 33%;
    }
}

/* Cursor */
.text-type > .txt {
    border-right: 5px solid #ffffff;
    animation: 1s blinkTextCursor step-end infinite
}

@keyframes blinkTextCursor {
    0% {
      border-right-color: rgba(255,255,255);
    }
    10% {
      border-right-color: rgb(0, 0, 0);
    }
  }
