@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans:wght@300;700&display=swap);

@media (max-width: 360px) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size:  15px;
    }
}

@media (max-width: 990px) {
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 25px;
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: 90px;
    }

    h3 {
        font-size: 60px;
    }
}

h1 strong, h4 strong, p strong, span strong {
    font-weight: bold;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    height: 100vh;
    color: #ffffff;
    background-color: #1f1f1f;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    font-size: 17px;
}

#SideNav-10 li a {
    color: white;
}

textarea {
    height: 300px;
}

textarea:focus, input:focus {
    color: white;
}

input, select, textarea{
    color: white;
}
